<div class="container-fluid">

    <h1>{{message}}</h1>

    <div class="row">
        <form class="form-inline" (ngSubmit)="addThing()" #thingForm="ngForm">
            <div class="form-group">
                <label class="sr-only" for="exampleInputThing">Product</label>
                <input type="text" class="form-control" id="exampleInputThing" placeholder="Name of the product ..." name="product" [(ngModel)]="product.name"
                    required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!thingForm.valid">Create new Product</button>
        </form>
    </div>

    <div class="row" *ngIf="products.length > 0">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{product.name}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-xs btn-danger" (click)="deleteThing(product)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="products.length <= 0">
        <span>No products</span>
    </div>

</div>